.backgroundnosotros{
    background-image: url(../img/granja3d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundproducto{
    background-image: url(../img/figuras.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.backgroundservicio{
    background-image: url(../img/engranajes.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundproyectos{
    background-image: url(../img/soporte.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
