.offcanvas.offcanvas-end.text-bg-dark.mi-menu{
    width: 300px;
}

.contactform{ 
    
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    border: 2px dashed black;
    padding: 50px;
    margin: 50px auto;
    
   
}

.inputform{
    padding-bottom: 30px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}
@media screen and ( max-width:900px) {
    .contactform{
        border: none;
}
}